<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Dari makanan cepat saji hingga santapan mewah, Kirana Rekomendation adalah panduan Anda untuk menemukan tempat makan terbaik di kota Anda. Lihat menu, ulasan, dan skor dari pengguna seperti Anda."
    />

    <title>Kirana's</title>
    <link rel="shortcut icon" href="./favicon/logo.png" type="image/x-icon" />

    <!-- Icon -->
    <script
      src="https://kit.fontawesome.com/992c0d743d.js"
      crossorigin="anonymous"
    ></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <a class="skip" href="#mainContent" role="button">Skip to content</a>
    <header class="header">
      <div class="header__logo">
        <a tabindex="-1" aria-label="Homepage" href="index.html"
          ><logo-app></logo-app
        ></a>
      </div>
      <div class="header__menu animate__animated animate__fadeInDown">
        <button class="header__menu-button" aria-label="Buka navigasi menu">
          <i class="fa-solid fa-bars fa-xl" style="color: #7a4247"></i>
        </button>
      </div>
    </header>
    <nav class="nav animate__animated animate__fadeInDown" id="drawer">
      <ul class="nav__list">
        <li class="nav__item"><a href="index.html">Home</a></li>
        <li class="nav__item"><a href="#">Favorite</a></li>
        <li class="nav__item">
          <a href="https://github.com/KRP186zL" target="_blank" rel="noopener"
            >About Us</a
          >
        </li>
      </ul>
    </nav>
    <div class="hero">
      <div class="hero__image" id="slider">
        <button
          class="hero__image-slide-left"
          aria-label="Slide hero image ke kiri"
        >
          <i class="fa-solid fa-less-than fa-2xl" style="color: cornsilk"></i>
        </button>
        <img
          class="hero__image-slide-image"
          src="./images/heros/hero-image_1.jpg"
          alt="hero image"
        />
        <button
          class="hero__image-slide-right"
          aria-label="Slide hero image ke kanan"
        >
          <i
            class="fa-solid fa-greater-than fa-2xl"
            style="color: cornsilk"
          ></i>
        </button>
      </div>
    </div>
    <main class="main" aria- id="mainContent">
      <section class="content">
        <article class="headline">
          <figure class="headline__figure">
            <img src="./images/headline/headline-image.jpg" alt="" />
            <figcaption>About Kirana's</figcaption>
          </figure>
          <div class="headline__content">
            <h1 tabindex="0" class="headline__content-title">
              Apa itu Kirana Resto Rekomendation ?
            </h1>
            <p tabindex="0" class="headline__content-description">
              Kirana's Resto Recommendation adalah aplikasi pemandu kuliner yang
              dirancang untuk membantu Anda menemukan restoran terbaik di
              sekitar Anda. Dengan Kirana's Resto, menemukan tempat makan enak
              tidak lagi menjadi masalah. Dari makanan cepat saji hingga
              restoran mewah, temukan semua hanya dengan beberapa ketukan di
              ponsel Anda.
            </p>
            <a
              class="headline__content-button"
              role="button"
              href="#rekomendasi"
              >Temukan sekarang</a
            >
          </div>
        </article>
        <article id="rekomendasi" class="rekomendasi">
          <h2 class="rekomendasi__header">Daftar rekomendasi</h2>
          <div class="rekomendasi__content"></div>
        </article>
      </section>
    </main>
    <footer class="footer">
      <p tabindex="0" class="footer__teks">
        Made with
        <span aria-label="love"
          ><i class="fa-solid fa-heart" style="color: #fff8dc"></i
        ></span>
        by
        <a
          href="https://instagram.com/krisnaaa_prtm27"
          target="_blank"
          rel="noopener"
          >Krisna Rizki Pratama</a
        >
      </p>
    </footer>
  </body>
</html>
